body {
  background: linear-gradient(#606060, #404040);
  color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
}

.row {
  max-width: none;
}

.blok-icon {
  width: 18px;
  height: 18px;
}
